.game-content{
    background-image: url(../img/bg1.png);
    height: 320px;
}

.lol-profile {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.568);
    width: 300px;
    height: inherit;
}

.lol-profile div {
    margin-top: 15px;
}

.lol-header{
    display:block;
    color: rgb(255, 255, 255);
    text-align: center;
}

.lol-header span{
    display: block;
    margin: 5px 0 5px 0;
}

#lol-level {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 3px;
    font-size: 10px;
    color: rgb(73, 73, 73);
    font-weight: bold;
    padding: 0 2px 0 2px;
}

.lol-stat {
    display: block;
    color: lightcyan;
}

.lol-stat ul {
    list-style: none;
    display: block;
    align-content: center;
    padding: 0;
}

.lol-stat ul li {
    display: inline-block;
    width: 30%;
}

.lol-stat ul li:nth-child(2) {
    border-left: lightcyan 1px solid;
    border-right: lightcyan 1px solid;
}

.lol-stat ul li span {
    display: block;
    text-align: center;
    width: 100%;
}

.stat-value {
    font-size: 15px;
}

.stat-title {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.589);
}

hr {
    display:block;
    width: 80%;
}

.lol-content {
    display: inline-block;
    width: 300px !important;
    width: inherit;
    vertical-align: top;
}

.lol-content ul {
    display: block;
    margin: 0;
    list-style: none;
    text-align: left;
    padding: 0;
}

.lol-content ul li {
    display: inline-block;
}

.lol-content ul li div {
    display: block;
    margin: 0 !important;
}

.summoner-desc {
    height: 80px;
    width: 300px;
    background-size: 300px;
    color: ivory;
}
.summoner-desc #lol-level {
    float:right;
}

.summoner-stat {
    display: inline-block;
    background-color: rgba(26, 26, 26, 0.521);
    font-style: italic;
    font-weight: 100;
    font-size: 20px;
    margin-left: 10px;
    padding: 0 5px 0 5px;
    margin-top: 50px;
}

.summoner-stat sup {
    font-size: 8px;
}