* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI' Arial;
}

body {
    margin: 0 auto;
    width: 70%;
    min-width: 500px;
    height: 100%;
    min-height: 500px;
    background-image: url(../img/grid.png);
}

i{
    display: inline-block;
    padding-right: 5px;
}

/*main block style*/
.nav{
    width: 25%;
    height: 90%;
    display: inline-block;
    float: left;
    bottom: 10%;
    min-width: 200px;
    min-height: 700px;
    background-color: rgba(0,0,0,0.75);
    overflow: hidden;
}

.main{
    display: inline-block;
    position: absolute;
    float: left;
    width: 52.5%;
    min-width: 600px;
    min-height: 700px;
    height:100%;
    overflow: hidden;
}

/*nav style*/
#nav-ul{
    margin-top: 20px;
    list-style: none;
    display: block;
    width: 100%;
    overflow: hidden;
}

#nav-ul li {
    display: block;
    margin-bottom: 1px;
    width: inherit;
    height: 30px;
    padding: 5px 0 5px 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.2);
}

#nav-ul li a {
    display: inline-block;
    height: inherit;
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: #fff;
    line-height: 30px;
    vertical-align: central;
}

#nav-ul li i {
    display: inline-block;
    width: 35px;
    height: inherit;
    padding: 0 5px 0 15px;
    font-size: 25px;
    line-height: 30px;
}

#nav-ul li:hover {
    cursor: pointer;
    border-left: solid 5px #0094ff;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.64);
}

.profiles {
    display: block;
    text-align: center;
    padding-top: 20px;
}

.portrait {
    margin:0 auto;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    overflow: hidden;
}

.portrait img{
    width: inherit;
    height: inherit;
}

#smaller-info{
    font-size: 12px;
}

.profile-section{
    padding: 10px 5px 10px 0;
    display: block;
    text-align: left;
    font-family: 'Segoe UI';
    font-size: 13px;
    color: rgba(255, 255, 255, 0.64);
    padding-left: 10px;
}

.profile-section a {
    text-decoration: none;
    color: inherit;
}

footer{
    display: block;
    width: 100%;
    min-width: 800px;
    padding: 15px 0 0 0;
    height: 120px;
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 10px;
    float: left;
    background-color: rgba(0,0,0,0.2);
}

.main-header {
    width: 100%;
    height: 150px;
    display: block;
    background: url(../img/frontpage.png) no-repeat;
    overflow: hidden;
}

.front-header {
    width: 100%;
    height: 60px;
    padding: 10px 0 0 15px;
    background: -webkit-linear-gradient(top,rgba(225, 225, 225, 0.6),rgba(255,255,255,0));
    overflow: hidden;
}

.front-header-icons {
    display: block;
    float: right;
    margin-right:2%;
}

.main-content {
    width: 100%;
    height: 550px;
}

.link-me {
    display: block;
    width: inherit;
    height: 30px;
    padding: 12px 0 8px 15px;
    background-color: rgba(87, 85, 85, 0.93);
}

.link-me i {
    display: inline-block;
    margin-right: 5px;
    float: left;
    width: 16px;
    height: 16px;
    padding: 3px;
    border-radius: 3px 3px 3px 3px;
    background-color: #bcb8b8;
}

.profile-section-title {
    display: block;
    width: inherit;
    margin-bottom: 5px;
    font-size: 13px;
    border-left: solid 2px #24aff5 ;
    text-indent: 5px;
    text-align: left;
}

#site-tips {
    display: block;
    padding: 5px;
    position: absolute;
    width: 70%;
    min-width: 800px;
    top: -25px;
    background-color: #faffc5;
    font-size: 12px;
}

.tip-content {
    text-indent: 10px;
    border-left: solid 3px #0082e3;
}

.tip-content img {
    vertical-align: bottom;
}