.project-content{
    display: block;
}
.project-list {
    list-style: none;
    display: block;
    padding-left: 5px;
}

.project-list li{
    display:inline-block;
    width: 180px;
    height: 300px;
    background-color: #295faf;
    text-align: center;
    margin: 0 20px 0 0;
    padding: 15px 5px 5px 5px;
}

.project-list li:hover{
    box-shadow: 2px 2px 6px #5f5e5e;
}

.project-header i{
    display: inline-block;
    color: #295faf;
    background-color: #ffffff;
    padding: 5px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.project-header div {
    display: inline-block;
    width: 100%;
}

.project-name {
    display: block;
    font-size: 20px;
    color: aliceblue;
}

.project-desc {
    display: block;
    color: aliceblue;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}