* {
    font-family:  -apple-system, "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.dialog {
    position: relative;
    background-color: rgba(209, 209, 209, 0.8);
    margin: -20px 0 35px 25px;
    border-radius: 5px;
    width: fit-content;
    padding: 6px 15px 6px 10px;
    font-size: 13px;
}

.dialog:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-right-color:  rgba(209, 209, 209, 0.8);
    top: 15%;
    right: 100%;
}

.whatsup-content .timeline{
    margin-left: 90px;
    margin-top: 30px;
}

.timeline-tag{
    margin-left: -80px;
    margin-top: -25px;
    display: block;
    position: relative;
    background-color: teal;
    width: 75px;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 2px;
    font-size: 12px;
}

.content-title{
    display: block;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.24);
}

.content-title i{
    display: inline-block;
    padding: 5px;
}
.timeline-block {
    display: block;
    width: 100%;
    height: inherit;
    max-width: 100%;
    overflow: hidden;
}

.timeline {
    display: block;
    list-style: none;
    margin:0px 0px 0px 15px;
    padding-bottom: 20px;
    border-left: solid 2px #fff;
    height: inherit;
}

.timeline li {
    width: 100%;
    margin-left: -52px;
}

.timeline li .timestamp-dot {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border:2px solid #555;
    margin:5px;
    border-radius: 6px 6px 6px 6px ;
    overflow: hidden;
    display: inline-block;
}
